body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.artist-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.artist-info {
    flex: 1;
    padding-right: 20px;
}

.artist-info img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.artist-music {
    flex: 1;
    margin-right: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


.social-icons img {
    width: 50px; 
    height: auto; 
    margin-right: 10px;  
}

.social-icons  {
    width: 50px; 
    height: auto; 
    margin-right: 10px;  
}

